@page
@model HogwartsRegistry.Pages.Students.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>
<br />
<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 text-right">
        <a asp-page="StudentCreate" class="btn btn-info">Add Student</a>
    </div>
</div>
<br />
<form method="post">
    @if (Model.Student.Count() > 0)
    {
        <table class="table table-striped">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.Student.FirstOrDefault().FirstName)</th>
                <th>@Html.DisplayNameFor(m => m.Student.FirstOrDefault().LastName)</th>
                <th>@Html.DisplayNameFor(m => m.Student.FirstOrDefault().Gender)</th>
                <th>@Html.DisplayNameFor(m => m.Student.FirstOrDefault().Year)</th>
                <th>@Html.DisplayNameFor(m => m.Student.FirstOrDefault().House)</th>
                <th></th>
            </tr>
            @foreach (var student in Model.Student)
            {
                <tr>
                    <td>@Html.DisplayFor(m => student.FirstName)</td>
                    <td>@Html.DisplayFor(m => student.LastName)</td>
                    <td>@Html.DisplayFor(m => student.Gender)</td>
                    <td>@Html.DisplayFor(m => student.Year)</td>
                    <td>@Html.DisplayFor(m => student.House)</td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@student.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this student?')">Delete</button>
                        <a asp-route-id="@student.Id" asp-page="StudentEdit" class="btn btn-success btn-sm">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No students in the registry.</p>
    }
</form>
